<div class="masthead">
  <div class="inner">
    <h3 class="masthead-brand">Joe Collins</h3>
    <div class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </div>
  </div>
</div>
