<div class="about-brief">
  <div class="cover-container">
    <div class="row">
      <div id="pro-pic" class="col-md-6">
        <div class="little-pic">
          <%= image_tag "profile.jpeg", width: 300, alt: "Profile Image"  %>
        </div>
      </div>
      <div class="col-md-6">
        <h1>A little bit about myself</h1>
        <div class="card">
          <div class="card-body">
            My name is Joe Collins, I’m a professional web developer, formally a crane & heavy machinery operator.
            After years in the construction industry my passion for technology, design, and learning new things
            led me seek a career change to computer sciences. I’m looking forward to new projects on the horizon
            and continuing to build websites. Please don’t hesitate to contact me if you would like additional information.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
