<div class="about-brief">
  <div class="cover-container">
    <h1>How would I describe myself?</h1>
    <p>Phasellus urna nisi, volutpat et aliquam eu, porta a eros. Fusce erat
      sem, euismod et hendrerit nec, euismod ut mi. Praesent sit amet aliquet
      libero. Sed rutrum rutrum mauris, a sodales tellus pellentesque sit amet.
      Nam eget nibh at ipsum viverra efficitur. Mauris sit amet lorem a purus
      condimentum faucibus. In maximus, tortor nec vulputate interdum, sapien
      sem imperdiet risus, at convallis nisi mauris eu tellus. Nunc
      sollicitudin facilisis urna id eleifend. Praesent finibus ex quis
      placerat pretium. Cras tincidunt convallis arcu id posuere. Phasellus
      eleifend arcu sapien, placerat efficitur sem interdum at. Maecenas
      iaculis ornare ligula non vulputate. Donec eget justo faucibus,
      interdum orci vel, laoreet velit.
    </p>
  </div>
</div>
