<div class="about-brief">
  <div class="cover-container">
    <div class="row">
      <div id="pro-pic" class="col-md-4">
        <div class="little-pic">
          <%= image_tag "profile.jpeg", width: 300, alt: "Profile Image"  %>
        </div>
      </div>
      <div class="col-md-8">
        <h1>How would I describe myself?</h1>
        <p>Carpe Diem baby! My philosophy is that life’s an awesome adventure
          and we should always be pushing and challenging ourselves in order to
          be the best version of the person we were meant to be! It’s so
          important to keep a positive attitude and outlook no matter how big or
          small the goal we are trying to accomplish is. I grew up in south
          eastern Massachusetts about 30 minutes outside of Boston, and have
          spent the last ten years or so in the construction industry as well as
          working a few different restaurant jobs. I learned so much from these
          experiences and had have met so many great mentors and friends along
          the way. After years of working I had invested the money I saved to
          enroll in one of Boston’s finest “Coding Bootcamps” I wanted to learn
          everything I could about computers, an interest of mine since
          my dad brought home our first desktop computer around 1997 when
          I was just 7 years old. Needless to say I’ve been hooked on
          web development ever since. Please do not hesitate to reach out if you
          would like to work together or have any questions! JoeCollins139@gmail.com
        </p>
      </div>
    </div>
  </div>
</div>
