<div class="greeting">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">Hello, thank you for visiting! Please take a few minutes to click around and please feel free to contact me if you’re interested in freelance web development work. Enjoy!
    </p>
    <p>
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
</div>
