<div class="greeting">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">Take a ride on the information super highway! Destination
      digital solutions, and no more stops until we get there.. We’re so excited
      to be delivering unique and powerful Ruby on Rails applications to users
      looking for the best experience on the web!
    </p>
    <p>
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
</div>
