<div class="greeting">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">[bangs fists multiple times] BLOOD ALONE MOVES THE WHEELS OF HISTORY! [pause] Have you ever asked yourselves in an hour of meditation - which everyone finds during the day - how long we have been striving for greatness? [bangs fist] Not only the years we've been at war - the war of work - but from the moment as a child, when we realized that the world could be conquered</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
</div>
