<div class="greeting">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
      et sollicitudin libero, ut tincidunt erat. Sed tincidunt lacinia sapien
      ornare consectetur. Nulla aliquet mattis dui sit amet elementum.
      Pellentesque ac metus ex. Etiam efficitur non nulla ut sagittis.
      Ut quis neque viverra, volutpat quam a, mollis libero. Nulla nec leo
      quis quam pulvinar tincidunt nec nec metus.
    </p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
</div>
