@import "bootstrap";

// BrewThru color scheme
// #49F4E9 = bright blue
// #FF75A7 = hot pink
// #F4AF4E = bright orange
// #A1F981 = lime green
// #E5EA4D = yellow green
// #F9F89F = pale yellow


/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #F4AF4E;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

h3 {
  color: #FF75A7;
}

h1 {
  color: #FF75A7;
}

.cover-container {
  max-width: 55em;
}


/*
 * Header
 */
.masthead .masthead-brand {
  margin-bottom: auto;
}

.masthead-brand {
  margin-bottom: 0;
  margin-right: 2rem;
  color: #49F4E9;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #A1F981;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #A1F981;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #F9F89F;
  border-bottom-color: #F9F89F;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

main {
  margin: auto;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Custom Styles
 */

.card-block {
  text-align: left;
  color: black;
}

.card {
  padding: 2rem;
  margin: 2rem;
}

.auth-links a {
  color: black;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
  margin-top: 8rem;
}

.greeting {
  margin: 0 auto;
  float: none;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.about-brief {
  margin: 0 auto;
  float: none;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.nav-link {
  margin-left: 15px;
  margin-right: 15px;
}
